

body {
  font-family: 'Raleway', sans-serif;
}

#root {
  --varcolor: '';
  background-color: teal;
}

.bgcolor-animation {
  animation-name: color-animate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes color-animate {
  100%{
    background-color: var(--varcolor);
  }
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 10px solid black;
  height: 100vh;
}

#quote-box {
  border-radius: 0.5em;
  z-index: 1;
  position: relative;
  margin: auto;
  width: 550px;
  min-height: 250px;
  background-color: white;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "quote quote quote"
 "quote quote quote"
 "tweet . button";
}

.html-quote {
  font-size: 50px;
  color: var(--varcolor);
}
blockquote {
  font-size: 2em;
}

#text {
  width: 100%;
  color: var(--varcolor);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: quote;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color-fade-animation {
  -webkit-animation-name: color-fade;
          animation-name: color-fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes color-fade {
  0% {
    --color: 
    ;
  }
  100% {
    --color: 
    ;
  }
}

@keyframes color-fade {
  0% {
    --color: 
    ;
  }
  100% {
    --color: 
    ;
  }
}

#author {
  padding: 30px;
  float: right;
}

.left-col {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tweet;
}

.right-col {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: button;
}

#new-quote {
  margin: 30px;
  font-size: 20px;
  color: var(--varcolor);
  border-radius: 5px;
  border-color: var(--varcolor)
}

#tweet-quote {
  font-size: 40px;
  margin: 30px;
}
